#### Lambda Functions

Syntax: lambda arguments: expression

In [2]:
def addition(a,b):
    return a + b

addition(2,3)

5

In [3]:
add_two_values = lambda a,b: a+b
add_two_values(2,3)

5

In [4]:
def even(num):
    if num%2 == 0:
        return True

even(30)

True

In [5]:
even_no = lambda num: num % 2 == 0
even_no(20)

True

In [6]:
# multiple parameters
add_multiple_values = lambda x,y,z: x+y+z
add_multiple_values(20,30,40)

90

#### Lambda + Map Function

In [9]:
numbers = [1, 2, 3, 4, 5, 6]
def square(number):
    return number**2
square(2)

4

In [10]:
square_numbers = list(map(lambda num: num**2, numbers))
square_numbers

[1, 4, 9, 16, 25, 36]

#### Map Function in Python

In [11]:
# Map to convert a list of strings to integers
# Use map to convert strings to integers

str_numbers = ['1', '2', '3', '4', '5']
int_numbers = list(map(int, str_numbers))

print(int_numbers)

[1, 2, 3, 4, 5]

In [12]:
def square(x):
    return x*x

In [13]:
numbers = [1,2,3,4,5,6,7,8]
result = list(map(square,numbers))

print(result)

[1, 4, 9, 16, 25, 36, 49, 64]

In [15]:
numbers = [1,2,3,4,5,6,7,8]
result = list(map(lambda x:x*x, numbers))

result

[1, 4, 9, 16, 25, 36, 49, 64]

In [1]:
## Map multiple iterables

numbers_1 = [1, 2, 3]
numbers_2 = [4, 5, 6]

added_numbers = list(map(lambda x,y: x+y, numbers_1, numbers_2))
added_numbers

[5, 7, 9]

In [2]:
words = ['apple', 'banana', 'cherry']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [3]:
def get_name(person):
    return person['name']

people=[
    {'name': 'Gauss', 'IQ':180},
    {'name': 'Newton', 'IQ': 190}
]

list(map(get_name,people))

['Gauss', 'Newton']